.compass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

  .compass-btn {
    background-color: yellow;
    padding: 5px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
  }
  
  .compass-btn:active {
    transform: translate(0, 10px);
  }
  
  .pic-wrapper {
    position: relative;
  }

  .compass-arrow {
    position: absolute;
    top: 30%;
    left: 34%;
  }
  
  .kaaba-wrapper {
    position: absolute;
    top: 0;
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
  }
  
  .kaaba {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all .3s ease-out;
  }
  
  .compass-alert {
    text-align: center;
    color: red;
  }
  
  @media (max-width:600px) {
    .compass-pic, .kaaba-wrapper {
      max-width: 400px;
      max-height: 400px;
    }
    .compass-arrow {
      top: 20%;
      left: 30%;
    }
  }
  
  @media (max-width:435px) {
    .compass-pic, .kaaba-wrapper {
      max-width: 280px;
      max-height: 280px;
    }
    .compass-arrow {
      top: 12%;
      left: 21.5%;
    }
  }
  
  @media (max-width:350px) {
    .compass-pic, .kaaba-wrapper {
      max-width: 250px;
      max-height: 250px;
    }
    .compass-arrow {
      top: 11%;
      left: 18%;
    }
  }
  
  @media (max-width:310px) {
    .compass-pic, .kaaba-wrapper {
      max-width: 220px;
      max-height: 220px;
    }
    .compass-arrow {
      top: 15%;
      left: 25%;
      height: 108px;
    }
  }
  
  
  @media (max-width:260px) {
    .compass-pic, .kaaba-wrapper {
      max-width: 200px;
      max-height: 200px;
    }
    
  }