@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#3a4589, #9299cc);
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
}

.app {
  margin-top: .8em;
}

p {
  font-size: 1rem;
}