.portrait-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    gap: 1em;
}

.portrait-mode img {
   max-width: 500px;
   max-height: 500px;
}

.portrait-mode p {
    text-align: center;
    color:#fff;
 }

 .portrait-alert__wrapper {
    display: flex;
    flex-direction: column;
    gap: .1em;
 }

 @media (max-width:600px) {
  .portrait-mode img  {
      max-width: 400px;
      max-height: 400px;
    }
  }
  
  @media (max-width:435px) {
    .portrait-mode img  {
      max-width: 200px;
      max-height: 200px;
    }
  }
  
  @media (max-width:350px) {
    .portrait-mode img  {
      max-width: 150px;
      max-height: 150px;
    }
  }
  