body {
  background-color:rgb(185, 210, 250);
}


.compass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.compass-arrow {
  position: absolute;
  top: 30px;
  
}

.kaaba-wrapper {
  position: absolute;
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
}

.kaaba {
  position: absolute;
  width: 40px;
  height: 40px;
  transition: all .3s ease-out;
}

@media (max-width:600px) {
  .compass-pic, .kaaba-wrapper {
    max-width: 380px;
    max-height: 380px;
  }
}

@media (max-width:435px) {
  .compass-pic, .kaaba-wrapper {
    max-width: 320px;
    max-height: 320px;
  }
}

@media (max-width:350px) {
  .compass-pic, .kaaba-wrapper {
    max-width: 280px;
    max-height: 280px;
  }
  
}

@media (max-width:310px) {
  .compass-pic, .kaaba-wrapper {
    max-width: 220px;
    max-height: 220px;
  }
  
}
